name: main
on:
  workflow_dispatch:
jobs:
  Main:
    runs-on: ubuntu-latest
    steps:
      - name: Download frpc
        run: |
          wget https://github.com/fatedier/frp/releases/download/v0.36.2/frp_0.36.2_linux_amd64.tar.gz
          tar -zxf ./frp_0.36.2_linux_amd64.tar.gz
          mv ./frp_0.36.2_linux_amd64/frpc ./frpc
          chmod +x ./frpc
      - name: Write Public key
        run: |
          echo $PUBKEY > ./id_rsa.pub
        env:
          PUBKEY: ${{ secrets.PUBKEY }}
      - name: Write frp ini
        run: |
          echo "
          
          
          [common]
          server_addr = $IP
          server_port = $PORT
          protocol = kcp
          privilege_token = $TOKEN
          tls_enable = true
          tls_key_file = ./id_rsa.pub
          login_fail_exit = false
          
          [proxy]
          type = tcp
          plugin = http_proxy
          remote_port = 11080
          
          
          " > frpc.ini
        env: 
          TOKEN: ${{ secrets.TOKEN }}
          IP: ${{ secrets.IP }}
          PORT: ${{ secrets.PORT }}
      - name: Start frp
        run: ./frpc -c ./frpc.ini
