name: main
on:
  workflow_dispatch:
jobs:
  Main:
    runs-on: ubuntu-latest
    steps:
      - name: Run next action
        run: |
          (sleep 5h 59m && \
          curl -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token $GHTOKEN" \
          $GITHUB_API_URL/repos/$GITHUB_REPOSITORY/actions/workflows/$GITHUB_WORKFLOW/dispatches -d '{"ref":"main"}') &
        env:
          GHTOKEN: ${{ secrets.GHTOKEN }}
      - name: Download frpc
        run: |
          wget https://github.com/fatedier/frp/releases/download/v0.37.0/frp_0.37.0_linux_amd64.tar.gz
          tar -zxf ./frp_0.37.0_linux_amd64.tar.gz
          mv ./frp_0.37.0_linux_amd64/frpc ./frpc
          chmod +x ./frpc
      - name: Write Public key
        run: |
          echo $PUBKEY > ./id_rsa.pub
        env:
          PUBKEY: ${{ secrets.PUBKEY }}
      - name: Write frp ini
        run: |
          echo "
          
          
          [common]
          server_addr = $IP
          server_port = $PORT
          privilege_token = $TOKEN
          tls_enable = true
          tls_key_file = ./id_rsa.pub
          login_fail_exit = false
          log_file = console
          
          [httpproxy]
          type = tcp
          plugin = http_proxy
          remote_port = 11080
          
          [socks5]
          type = tcp
          plugin = socks5
          remote_port = 11081
          
          " > frpc.ini
        env: 
          TOKEN: ${{ secrets.TOKEN }}
          IP: ${{ secrets.IP }}
          PORT: ${{ secrets.PORT }}
      - name: Set ip secret
        run: |
          echo "::add-mask::0"
          echo "::add-mask::1"
          echo "::add-mask::2"
          echo "::add-mask::3"
          echo "::add-mask::4"
          echo "::add-mask::5"
          echo "::add-mask::6"
          echo "::add-mask::7"
          echo "::add-mask::8"
          echo "::add-mask::9"
          echo "::add-mask::10"
          echo "::add-mask::11"
          echo "::add-mask::12"
          echo "::add-mask::13"
          echo "::add-mask::14"
          echo "::add-mask::15"
          echo "::add-mask::16"
          echo "::add-mask::17"
          echo "::add-mask::18"
          echo "::add-mask::19"
          echo "::add-mask::20"
          echo "::add-mask::21"
          echo "::add-mask::22"
          echo "::add-mask::23"
          echo "::add-mask::24"
          echo "::add-mask::25"
          echo "::add-mask::26"
          echo "::add-mask::27"
          echo "::add-mask::28"
          echo "::add-mask::29"
          echo "::add-mask::30"
          echo "::add-mask::31"
          echo "::add-mask::32"
          echo "::add-mask::33"
          echo "::add-mask::34"
          echo "::add-mask::35"
          echo "::add-mask::36"
          echo "::add-mask::37"
          echo "::add-mask::38"
          echo "::add-mask::39"
          echo "::add-mask::40"
          echo "::add-mask::41"
          echo "::add-mask::42"
          echo "::add-mask::43"
          echo "::add-mask::44"
          echo "::add-mask::45"
          echo "::add-mask::46"
          echo "::add-mask::47"
          echo "::add-mask::48"
          echo "::add-mask::49"
          echo "::add-mask::50"
          echo "::add-mask::51"
          echo "::add-mask::52"
          echo "::add-mask::53"
          echo "::add-mask::54"
          echo "::add-mask::55"
          echo "::add-mask::56"
          echo "::add-mask::57"
          echo "::add-mask::58"
          echo "::add-mask::59"
          echo "::add-mask::60"
          echo "::add-mask::61"
          echo "::add-mask::62"
          echo "::add-mask::63"
          echo "::add-mask::64"
          echo "::add-mask::65"
          echo "::add-mask::66"
          echo "::add-mask::67"
          echo "::add-mask::68"
          echo "::add-mask::69"
          echo "::add-mask::70"
          echo "::add-mask::71"
          echo "::add-mask::72"
          echo "::add-mask::73"
          echo "::add-mask::74"
          echo "::add-mask::75"
          echo "::add-mask::76"
          echo "::add-mask::77"
          echo "::add-mask::78"
          echo "::add-mask::79"
          echo "::add-mask::80"
          echo "::add-mask::81"
          echo "::add-mask::82"
          echo "::add-mask::83"
          echo "::add-mask::84"
          echo "::add-mask::85"
          echo "::add-mask::86"
          echo "::add-mask::87"
          echo "::add-mask::88"
          echo "::add-mask::89"
          echo "::add-mask::90"
          echo "::add-mask::91"
          echo "::add-mask::92"
          echo "::add-mask::93"
          echo "::add-mask::94"
          echo "::add-mask::95"
          echo "::add-mask::96"
          echo "::add-mask::97"
          echo "::add-mask::98"
          echo "::add-mask::99"
          echo "::add-mask::100"
          echo "::add-mask::101"
          echo "::add-mask::102"
          echo "::add-mask::103"
          echo "::add-mask::104"
          echo "::add-mask::105"
          echo "::add-mask::106"
          echo "::add-mask::107"
          echo "::add-mask::108"
          echo "::add-mask::109"
          echo "::add-mask::110"
          echo "::add-mask::111"
          echo "::add-mask::112"
          echo "::add-mask::113"
          echo "::add-mask::114"
          echo "::add-mask::115"
          echo "::add-mask::116"
          echo "::add-mask::117"
          echo "::add-mask::118"
          echo "::add-mask::119"
          echo "::add-mask::120"
          echo "::add-mask::121"
          echo "::add-mask::122"
          echo "::add-mask::123"
          echo "::add-mask::124"
          echo "::add-mask::125"
          echo "::add-mask::126"
          echo "::add-mask::127"
          echo "::add-mask::128"
          echo "::add-mask::129"
          echo "::add-mask::130"
          echo "::add-mask::131"
          echo "::add-mask::132"
          echo "::add-mask::133"
          echo "::add-mask::134"
          echo "::add-mask::135"
          echo "::add-mask::136"
          echo "::add-mask::137"
          echo "::add-mask::138"
          echo "::add-mask::139"
          echo "::add-mask::140"
          echo "::add-mask::141"
          echo "::add-mask::142"
          echo "::add-mask::143"
          echo "::add-mask::144"
          echo "::add-mask::145"
          echo "::add-mask::146"
          echo "::add-mask::147"
          echo "::add-mask::148"
          echo "::add-mask::149"
          echo "::add-mask::150"
          echo "::add-mask::151"
          echo "::add-mask::152"
          echo "::add-mask::153"
          echo "::add-mask::154"
          echo "::add-mask::155"
          echo "::add-mask::156"
          echo "::add-mask::157"
          echo "::add-mask::158"
          echo "::add-mask::159"
          echo "::add-mask::160"
          echo "::add-mask::161"
          echo "::add-mask::162"
          echo "::add-mask::163"
          echo "::add-mask::164"
          echo "::add-mask::165"
          echo "::add-mask::166"
          echo "::add-mask::167"
          echo "::add-mask::168"
          echo "::add-mask::169"
          echo "::add-mask::170"
          echo "::add-mask::171"
          echo "::add-mask::172"
          echo "::add-mask::173"
          echo "::add-mask::174"
          echo "::add-mask::175"
          echo "::add-mask::176"
          echo "::add-mask::177"
          echo "::add-mask::178"
          echo "::add-mask::179"
          echo "::add-mask::180"
          echo "::add-mask::181"
          echo "::add-mask::182"
          echo "::add-mask::183"
          echo "::add-mask::184"
          echo "::add-mask::185"
          echo "::add-mask::186"
          echo "::add-mask::187"
          echo "::add-mask::188"
          echo "::add-mask::189"
          echo "::add-mask::190"
          echo "::add-mask::191"
          echo "::add-mask::192"
          echo "::add-mask::193"
          echo "::add-mask::194"
          echo "::add-mask::195"
          echo "::add-mask::196"
          echo "::add-mask::197"
          echo "::add-mask::198"
          echo "::add-mask::199"
          echo "::add-mask::200"
          echo "::add-mask::201"
          echo "::add-mask::202"
          echo "::add-mask::203"
          echo "::add-mask::204"
          echo "::add-mask::205"
          echo "::add-mask::206"
          echo "::add-mask::207"
          echo "::add-mask::208"
          echo "::add-mask::209"
          echo "::add-mask::210"
          echo "::add-mask::211"
          echo "::add-mask::212"
          echo "::add-mask::213"
          echo "::add-mask::214"
          echo "::add-mask::215"
          echo "::add-mask::216"
          echo "::add-mask::217"
          echo "::add-mask::218"
          echo "::add-mask::219"
          echo "::add-mask::220"
          echo "::add-mask::221"
          echo "::add-mask::222"
          echo "::add-mask::223"
          echo "::add-mask::224"
          echo "::add-mask::225"
          echo "::add-mask::226"
          echo "::add-mask::227"
          echo "::add-mask::228"
          echo "::add-mask::229"
          echo "::add-mask::230"
          echo "::add-mask::231"
          echo "::add-mask::232"
          echo "::add-mask::233"
          echo "::add-mask::234"
          echo "::add-mask::235"
          echo "::add-mask::236"
          echo "::add-mask::237"
          echo "::add-mask::238"
          echo "::add-mask::239"
          echo "::add-mask::240"
          echo "::add-mask::241"
          echo "::add-mask::242"
          echo "::add-mask::243"
          echo "::add-mask::244"
          echo "::add-mask::245"
          echo "::add-mask::246"
          echo "::add-mask::247"
          echo "::add-mask::248"
          echo "::add-mask::249"
          echo "::add-mask::250"
          echo "::add-mask::251"
          echo "::add-mask::252"
          echo "::add-mask::253"
          echo "::add-mask::254"
          echo "::add-mask::255"
      - name: Start frp
        run: ./frpc -c ./frpc.ini
